 <!DOCTYPE html>
<html lang="fr">
    <meta charset="UTF-8"> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <head>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body ng-app="mapApp">
        <div ng-controller="worldMapController" ng-model="countriesJSON">
            <div id="mapButtons" ng-model="addingRegion">
                <button type="button" class="mapButton" id="zoomInButton" ng-click="zoomIn()" >+</button>
                <button type="button" class="mapButton" id="zoomOutButton" ng-click="zoomOut()" >-</button>
                <button type="button" class="mapButton" id="addRegionButton" ng-click="startAddingRegion()" ng-if="!addingRegion" >Add</button>
                <button type="button" class="mapButton" id="addRegionButton" ng-click="stopAddingRegion(true)" ng-if="addingRegion" >V</button>
                <button type="button" class="mapButton" id="addRegionButton" ng-click="stopAddingRegion(false)" ng-if="addingRegion" >X</button>
            </div>
            <div id="hoveredCountry">
                <span ng-model="hoveredCountry" ng-show="hoveredCountry" >Country: {{ hoveredCountry.name }} ; </span>
                <span ng-model="hoveredArea" ng-show="hoveredArea">Area: {{ hoveredArea.name }}</span>
            </div>
            <div id="map">
                <canvas id="board" ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)" ng-mousemove="move($event)" ng-mouseleave="focusLost()"/>
            </div>
            <div id="selectedCountry" ng-model="selectedCountry" ng-show="selectedCountry">
                <p>Selected: {{ selectedCountry.name }}: </p>
                <p>{{ selectedCountry.recipes }} recipes</p>
                <p>{{ selectedCountry.typicalRecipes }} typical recipes</p>
                <ul ng-repeat="area in selectedCountry['subareas']">
                    <li>
                        <a ng-click="setSelectedArea(area)" href="">{{ area.name }}</a>
                        <div class="areaDiv" ng-if="area.name==selectedArea.name">
                            <p>{{ selectedArea.name }}</p>
                            <p>Recipes: {{ selectedArea.recipes }}</p>
                            <p>Typical recipes: {{ selectedArea.typicalRecipes }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 

        <script src="js/globalRecipesApp.js" ></script>
        <script src="js/canvasService.js" ></script>
        <script src="js/httpService.js" ></script>
        <script src="js/worldMapController.js" ></script>
    </body>
</html> 
