 <!DOCTYPE html>
<html lang="fr">
    <meta charset="UTF-8"> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <head>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body>
        <div ng-app="myApp" ng-controller="worldMapController">
            <div id="mapButtons">
                <button type="button" class="mapButton" id="zoomInButton" ng-click="zoomIn()" >+</button>
                <button type="button" class="mapButton" id="zoomOutButton" ng-click="zoomOut()" >-</button>
            </div>
            <div id="hoveredCountry">
                <span ng-model="hoveredCountry" ng-show="hoveredCountry" >Country: {{ hoveredCountry.name }} ; </span>
                <span ng-model="hoveredArea" ng-show="hoveredArea">Area: {{ hoveredArea.name }}</span>
            </div>
            <div id="map">
                <canvas id="board" ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)" ng-mousemove="move($event)" ng-mouseleave="focusLost()"/>
            </div>
            <div id="selectedCountry" ng-model="selectedCountry" ng-show="selectedCountry">
                <p>Selected: {{ selectedCountry.name }}: </p>
                <p>{{ selectedCountry.receipes }} receipes</p>
                <ul ng-repeat="area in selectedCountry['areas']">
                    <li>
                        <a ng-click="setSelectedArea(area)" href="">{{ area.name }}</a>
                        <div class="areaDiv" ng-show="area.name==selectedArea.name">
                            <p>{{ area.name }}</p>
                            <p>Receipes: {{ area.receipes }}</p>
                            <p>Typical receipes: {{ area.name }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 

        <script src="js/worldMapController.js" ></script>
    </body>
</html> 
